services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "echo", "ruok"]
      interval: 5s
      timeout: 2s
      retries: 3

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - "29092:29092"
      - "9092:9092"
    depends_on:
      zookeeper:
        condition: service_healthy
    environment:
      environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092

      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - app-network

  airflow_db:
    image: postgres:13
    container_name: airflow_db
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka_ui
    depends_on:
      - kafka
    ports:
      - "8010:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
    networks:
    - app-network
  
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network
  
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      CLICKHOUSE_DB: $CLICKHOUSE_DB
      CLICKHOUSE_USER: $CLICKHOUSE_USER 
      CLICKHOUSE_PASSWORD: $CLICKHOUSE_PASSWORD
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: $CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - ./clickhouse_data:/var/lib/clickhouse
    networks:
    - app-network

  airflow:
    build:
      context: .           
      dockerfile: Dockerfile
    depends_on:
      - clickhouse
    env_file:
    - .env 
    environment:
      - PYTHONPATH=/opt/airflow/src
      - AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/src/dags
      - AIRFLOW_HOME=/opt/airflow
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@airflow_db/airflow_db
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__CORE__AIRFLOW_HOME=/opt/airflow
      - AIRFLOW__AUTH_MANAGER__COMMON__AUTH_USER_NAME=admin
      - AIRFLOW__AUTH_MANAGER__COMMON__AUTH_USER_PASSWORD=admin
      - AIRFLOW__AUTH_MANAGER__COMMON__AUTH_DEFAULT_USER_ROLE=Admin
      - AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS=admin:admin
      - AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_ALL_ADMINS=true
      - AIRFLOW__CORE__AUTH_MANAGER=airflow.api_fastapi.auth.managers.simple.simple_auth_manager.SimpleAuthManager
    volumes:
      - ./src:/opt/airflow/src
      - ./src/dags:/opt/airflow/dags
    ports:
      - "8080:8080"
    networks:
    - app-network


volumes:
  pgdata:      
  kafka_data:  
  ch_data:    
  ch_logs:    
  redis_data:

networks:
  app-network:
    driver: bridge